# AWS Credentials
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_REGION=us-east-1

# AWS Services
S3_BUCKET_NAME=sioma-face-images
DYNAMODB_WORKERS_TABLE=sioma-workers
DYNAMODB_TIMESTAMPS_TABLE=sioma-timestamps

# Used for signing JWTs
SECRET_KEY=your_super_secret_key_here

DYNAMODB_DEVICES_TABLE=DeviceRegistrations
DYNAMODB_ACTIVATION_CODES_TABLE=ActivationCodes
DYNAMODB_ATTENDANCE_TABLE=AttendanceRecords
DYNAMODB_AUDIT_TABLE=AuditLogs
